<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.liwh.dao.mapper.AdminRoleMapper">
    <resultMap id="BaseResultMap" type="com.liwh.dao.model.AdminRole">
        <result property="id" column="id"/>
        <result property="adminId" column="admin_id"/>
        <result property="roleId" column="role_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
		id,
		admin_id,
		role_id,
		status,
		create_time,
		update_time
	</sql>
</mapper>