<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.liwh.dao.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.liwh.dao.model.Permission">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="permContent" column="perm_content"/>
        <result property="permName" column="perm_name"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="httpMethod" column="http_method"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="PermissionByAdmin">
        <where>
            <if test="id != null">
                sys_admin.id = #{id}
            </if>
            <if test="adminName != null">
                AND sys_admin.account_name = #{accountName}
            </if>
            <if test="phone != null">
                AND sys_admin.phone = #{phone}
            </if>
        </where>
    </sql>

    <sql id="selectWheres">
        <where>
            <if test="parentId != null">
                sys_admin_role.parent_id = #{parentId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>

            <if test="ids != null">
                <foreach item="item" index="index" collection="ids" open="AND ("
                         separator="OR" close=")">
                    id = #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="selectColumns">
		id,
		parent_id,
		perm_name,
		perm_content,
		`type`,
		status,
		http_method,
		create_time,
		update_time
	</sql>
</mapper>